<div class="card">
  <div class="card-block">
    <h4 class="card-title">Successfully Saved</h4>
    <p class="card-text">
      The information has been saved to your Google Sheets file
    </p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>